.Result {
  border: 1px solid lightgrey;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px;

  .route {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px;
  }

  .stop:after,
  .cost:before {
    content: "";
    display: inline-block;
    border: 1px solid black;
    border-width: 1px 0;
    height: 10px;
    margin-right: 10px;
    width: 10px;
  }

  .stop:after {
    border-width: 1px 1px 0 0;
    margin-right: 15px;
    transform: rotate(45deg);
  }

  .stop,
  .cost {
    transition: all 0.5s;
    vertical-align: middle;

    > span {
      background-color: lightgray;
      border-radius: 50%;
      box-sizing: border-box;
      display: inline-flex;
      color: black;
      font-size: 11px;
      font-weight: bold;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
    }

    &:first-child,
    &:nth-last-child(2) {
      span {
        background-color: orange;
      }
    }

    &:nth-last-child(2):after {
      content: none;
    }
  }

  .cost > span {
    background: lightgray;
    margin-right: 0;
  }
}