.Locations {
  border: 1px solid lightgrey;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px;

  > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px;
  }

  & button {
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    color: black;
    font-size: 11px;
    height: 40px;
    margin-right: 10px;
    transition: all 0.5s;
    width: 40px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: default;
      opacity: 0.4;
    }

    &.selected {
      background-color: orange;
      font-weight: bold;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}